{% extends 'layout.html' %}

{% block head %}
	<title>flask here</title>
{% endblock %}

{% block body %}
	<p>What do you know about Flask Framework?</p>
	<p>you may discuss with me on WhatsApp or Telegram, it's free.</p>
	<p>You can colaboration in this code cause it was open for everyone</p>

	<h3>VIM Text Editor is better i think</h3>
	<h3><i>so what's next? .you would see CRUD using Flask Jinja here also database settings in SQLAlchemy (ORM)</i></h3>

{% endblock %}
